.todoForm{
    
    input{
        text-align: center;
        padding: 1vh 2vw;
        font-size: 16px;
    }
    button{
        background-color: rgb(11, 160, 11);
        color: white;
        font-size: 16px;
        padding: 0.6%;
        border-top-right-radius: 20%;
        border-bottom-right-radius: 20%;
    }
}